<form [formGroup]="resumeForm" (ngSubmit)="submitForm()">
  <!-- Personal Information -->
  <h2>Personal Information</h2>

  <div class="row">
    <div class="col">
      <label class="form-label mt-3" for="firstName">First Name:</label>
      <input
        class="form-control"
        type="text"
        id="firstName"
        name="firstName"
        formControlName="firstName"
        required
      />
    </div>

    <div class="col">
      <label class="form-label mt-3" for="lastName">Last Name:</label>
      <input
        class="form-control"
        type="text"
        id="lastName"
        name="lastName"
        formControlName="lastName"
        required
      />
    </div>
  </div>

  <div class="row">
    <div class="col">
      <label class="form-label mt-3" for="email">Email:</label>
      <input
        class="form-control"
        type="email"
        id="email"
        name="email"
        formControlName="email"
        required
      />
    </div>

    <div class="col">
      <label class="form-label mt-3" for="phoneNumber">Phone Number:</label>
      <input
        class="form-control"
        type="tel"
        id="phoneNumber"
        name="phoneNumber"
        formControlName="phoneNumber"
        required
      />
    </div>
  </div>

  <label class="form-label mt-3" for="address">Address:</label>
  <input
    class="form-control"
    type="text"
    id="address"
    name="address"
    formControlName="address"
    required
  />

  <!-- Repeat similar controls for other personal information fields -->

  <!-- Experience Section -->
  <h2>Experiences</h2>
  <div formArrayName="experiences">
    <div
      *ngFor="let experience of experiences.controls; let i = index"
      [formGroupName]="i"
    >
      <h3>Experience {{ i + 1 }}</h3>
      <label class="form-label" for="title">Title:</label>
      <input
        class="form-control"
        type="text"
        id="title"
        formControlName="title"
        required
      />

      <div class="row">
        <div class="col">
          <label class="form-label mt-3" for="title">Company:</label>
          <input
            class="form-control"
            type="text"
            id="title"
            name="title"
            formControlName="company"
            required
          />
        </div>

        <div class="col">
          <label class="form-label mt-3" for="title">Location:</label>
          <input
            class="form-control"
            type="text"
            id="title"
            name="title"
            formControlName="location"
            required
          />
        </div>
      </div>

      <div class="row">
        <div class="col">
          <label class="form-label mt-3" for="title">startDate:</label>
          <input
            class="form-control"
            type="text"
            id="title"
            name="title"
            formControlName="startDate"
            required
          />
        </div>

        <div class="col">
          <label class="form-label mt-3" for="title">endDate:</label>
          <input
            class="form-control"
            type="text"
            id="title"
            name="title"
            formControlName="endDate"
            required
          />
        </div>
      </div>

      <label class="form-label mt-3" for="title">Description:</label>
      <input
        class="form-control"
        type="text"
        id="title"
        name="title"
        formControlName="description"
        required
      />

      <button
        class="btn btn-secondary mt-3"
        type="button"
        (click)="removeExperience(i)"
      >
        Remove Experience
      </button>
    </div>
  </div>
  <button class="btn btn-secondary" type="button" (click)="addExperience()">
    Add Experience
  </button>

  <!-- Repeat similar sections for Education, Certifications, References, Skills -->

  <button class="btn btn-primary my-3 ms-3" type="submit">Submit</button>
</form>
