.template1 {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
}

$primary-color: #ff0000; // Change this to your desired primary color

:host {
  background-color: #f8f9fa;
}

.container {
  background-color: #fff;
  box-shadow: 1px -8px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

h1,
h2 {
  color: $primary-color;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 5px;
}
