<!-- Certification -->
<h2 class="my-3">Certification</h2>

<div [formGroup]="certificationFormArray">
  <div formArrayName="certifications">
    <div
      *ngFor="let certification of certifications.controls; let j = index"
      [formGroupName]="j"
    >
      <h3>Certification {{ j + 1 }}</h3>

      <div class="row mt-3">
        <div class="col">
          <label class="form-label" for="name">Name:</label>
          <input
            class="form-control"
            type="text"
            id="name"
            formControlName="name"
            required
          />
        </div>

        <div class="col">
          <label class="form-label" for="date">Date:</label>
          <input
            class="form-control"
            type="text"
            id="date"
            name="date"
            formControlName="date"
            required
          />
        </div>
      </div>

      <button
        class="btn btn-danger mt-3 d-flex ms-auto"
        type="button"
        (click)="removeCertification(j)"
      >
        Remove certification
      </button>
    </div>
  </div>
</div>

<button
  class="btn btn-secondary mt-3"
  type="button"
  (click)="addCertification()"
>
  Add certification
</button>
