<!-- Resume Template Component Template -->
<h2>Template 2</h2>

<div class="template2 d-flex flex-wrap gap-3">
  <!-- Personal Information Section -->
  <div class="my-1 p-1 border personal-info">
    <div class="info-item">First Name: {{ resumeData.firstName }}</div>
    <div class="info-item">Last Name: {{ resumeData.lastName }}</div>
    <div class="info-item">Email: {{ resumeData.email }}</div>
    <div class="info-item">Phone No: {{ resumeData.phoneNumber }}</div>
    <div class="info-item">Address: {{ resumeData.address }}</div>
    <div class="info-item">Description: {{ resumeData.description }}</div>
    <div class="info-item">LinkedIn: {{ resumeData.linkedin }}</div>
  </div>

  <!-- Experience Section -->
  <div
    class="my-1 p-1 border experience-section"
    *ngFor="let experience of resumeData.experiences; let i = index"
  >
    Experience {{ i + 1 }}
    <div class="info-item">Title: {{ experience.title }}</div>
    <div class="info-item">Company: {{ experience.company }}</div>
    <div class="info-item">Location: {{ experience.location }}</div>
    <div class="info-item">Start Date: {{ experience.startDate }}</div>
    <div class="info-item">End Date: {{ experience.endDate }}</div>
    <div class="info-item">Description: {{ experience.description }}</div>
  </div>

  <!-- Education Section -->
  <div
    class="my-1 p-1 border education-section"
    *ngFor="let education of resumeData.educations; let i = index"
  >
    Education {{ i + 1 }}
    <div class="info-item">Degree: {{ education.degree }}</div>
    <div class="info-item">Major: {{ education.major }}</div>
    <div class="info-item">University: {{ education.university }}</div>
    <div class="info-item">Location: {{ education.location }}</div>
    <div class="info-item">Start Date: {{ education.startDate }}</div>
    <div class="info-item">End Date: {{ education.endDate }}</div>
    <div class="info-item">Description: {{ education.description }}</div>
  </div>

  <!-- Certification Section -->
  <div
    class="my-1 p-1 border certification-section"
    *ngFor="let certification of resumeData.certifications; let i = index"
  >
    Certification {{ i + 1 }}
    <div class="info-item">Name: {{ certification.name }}</div>
    <div class="info-item">Date: {{ certification.date }}</div>
  </div>

  <!-- Reference Section -->
  <div
    class="my-1 p-1 border reference-section"
    *ngFor="let reference of resumeData.references; let i = index"
  >
    Reference {{ i + 1 }}
    <div class="info-item">Name: {{ reference.name }}</div>
    <div class="info-item">Contact: {{ reference.contact }}</div>
  </div>

  <!-- Skills Section -->
  <div
    class="my-1 p-1 border skills-section"
    *ngFor="let skill of resumeData.skills; let i = index"
  >
    Skill {{ i + 1 }}: {{ skill.name }}
    <div class="info-item">Name: {{ skill.name }}</div>
    <div class="info-item">Score: {{ skill.score }}</div>
  </div>
</div>
