<!-- Skills -->
<h2 class="my-3">Skills</h2>

<div [formGroup]="skillFormArray">
  <div formArrayName="skills">
    <div
      *ngFor="let reference of skills.controls; let j = index"
      [formGroupName]="j"
    >
      <h3>skills {{ j + 1 }}</h3>

      <div class="row mt-3">
        <div class="col">
          <label class="form-label" for="name">Name:</label>
          <input
            class="form-control"
            type="text"
            id="name"
            formControlName="name"
            required
          />
        </div>

        <div class="col">
          <label class="form-label" for="score">Score:</label>
          <input
            class="form-control"
            type="text"
            id="score"
            name="score"
            formControlName="score"
            required
          />
        </div>
      </div>

      <button
        class="btn btn-danger mt-3 d-flex ms-auto"
        type="button"
        (click)="removeSkills(j)"
      >
        Remove skills
      </button>
    </div>
  </div>
</div>

<button class="btn btn-secondary mt-3" type="button" (click)="addSkills()">
  Add skills
</button>
